<!DOCTYPE html>
<html>
    <head>
        <title>Accept Job</title>
    </head>
    <style>
        .header {
            background-color: rgb(93, 108, 248);
            
        }

        .content {
            text-align: center;
            margin-top: 50px;
        }

        

        .error {
          text-align: center;
          color: red;
          font-size: 22px;
        }
    </style>
    <body bgcolor = #ADD8E6>
        <div class = "heading">
            <br>
            <h3 id = "unamefield"></h3>
            <hr color=#00008B>
        </div>

        <div class = "content">
            <br>
            <p>You have Successfully accepted job</p>
            <br><br><br>
            <a href = "../"><input type="button" id = "Back" name = "Back" value="Back"></a> <br>
        </div>
    </body>
</html>