{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <style>
        .heading {
            background-color: rgb(93, 108, 248);
            text-align: center;
        }
        .form {
          text-align: center;
        }
        .error {
          text-align: center;
          color: red;
          font-size: 22px;
        }
    </style>
    <body bgcolor = #ADD8E6>
        <div class = "heading">
            <br>
            <h1>Register</h1>
            <hr color=#00008B>
        </div>

        
        <div class = "form">
            <br>
            <form method = 'post'>
                {% csrf_token %}
                <table cellpadding = 7; align = center >
                    <tr valign = "middle">
                        <td align = "right"><label for="fName">First Name</label></td>
                        <td align = "left">{{ form.first_name }}</td>
                        <td><font color = "Red">*</font></td>
                    </tr>

                    <tr valign = "middle">
                        <td align = "right"><label for="lName">Last Name</label></td>
                        <td align = "left">{{ form.last_name }}</td>
                        <td><font color = "Red">*</font></td>
                    </tr>

                    <tr valign = "middle">
                        <td align = "right"><label for="username">Select an Username</label></td>
                        <td align = "left">{{ form.username }}</td>
                        <td><font color = "Red">*</font></td>
                    </tr>

                    <tr valign = "middle">
                        <td align = "right"><label for="userType">Select User Type</label></td>
                        <td align = "left">{{ form.user_type }}</td>
                    </tr>

                    <tr valign = "middle">
                        <td align = "right"><label for="password">Password</label></td>
                        <td align = "left">{{ form.password }}</td>
                        <td><font color = "Red">*</font></td>
                    </tr>

                    <tr valign = "middle">
                        <td align = "right"><label for="cfpassword">Confirm your Password</label></td>
                        <td align = "left">{{ form.confirm_password }}</td>
                        <td><font color = "Red">*</font></td>
                    </tr>

                    <tr>
                        <td align = "center" colspan = 2>
                        <p> Your passowrd should contain atleast 8 characters,<br>
                         atleast 1 digit, atleast 1 Uppercase and 1 Lowercase letter</p>
                         </td>
                    </tr>

                </table>

                <br>
                <p><font color = "Red">* Required</font></p>
                <br>
                
                <input type="submit" value="Submit">
              </form> 
              
              
        </div>

        <div class = "error">
            {% if form.errors %}
                    <br><br>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p><font size = 4>{{ error }}</font></p>
                        {% endfor %}
                    {% endfor %}
                
            {% endif %}
        </div>

    </body>
</html>