<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <style>
        .heading {
            background-color: rgb(93, 108, 248);
            text-align: center;
        }
        .content {
          text-align: center;
        }
        .error {
          text-align: center;
          color: red;
          font-size: 22px;
        }
    </style>
    <body bgcolor = #ADD8E6>
        <div class = "heading">
            <br>
            <font color = #377CDE><h3 id = "unamefield"></h3></font>
            <hr color=#00008B>
        </div>

        <div class = "content">
            <br>
            <p>Your Account has been successfully created<br></p>
            <br><br><br><br><br><br><br><br><br>
            <a href = "/login"><input type="button" id = "Home" name = "Home" value="Home"></a> <br>
        </div>

        

        <div class = "error">
            <P> </P>
        </div>
    </body>
</html>